## A basic GitHub Actions workflow for your Quarkus application.

name: CI build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - name: Write private key
        run: |
          mkdir META-INF
          echo "${JWT_PUBLIC_KEY}" > META-INF/publicKey.pem
      - name: Build
        run: ./mvnw verify -B
